In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('/Users/yelderiny/Projects/Dissertation/Data/project-data-swift.csv', index_col=[0])

In [3]:
features = df.drop(columns=['name', 'pr_points1', 'pr_points2', 'pr_points3'], axis=1)
target = df[['pr_points1', 'pr_points2', 'pr_points3']]

In [4]:
numeric_features = features.drop(columns=['language'], axis=1)
categorical_features = features[['language']].copy()
numeric_features.head()

,pull_requests,size,contributors,age,contributor_xp1,contributor_xp2,contributor_xp3
0,2212,13528,394,3489,8.111,7.571,7.578
0,555,34100,240,3503,3.308,3.157,2.712
0,607,14104,237,2171,14.784,13.679,9.193
0,146,29842,70,1522,3.688,3.708,4.052
0,20,16233,336,1988,6.468,5.999,5.624

In [5]:
scaler = StandardScaler()
standardized_features = pd.DataFrame(scaler.fit_transform(numeric_features), columns=numeric_features.columns, index=numeric_features.index)
standardized_features.describe()

,pull_requests,size,contributors,age,contributor_xp1,contributor_xp2,contributor_xp3
count,7.690000e+02,7.690000e+02,7.690000e+02,7.690000e+02,7.690000e+02,7.690000e+02,7.690000e+02
mean,4.619914e-17,-9.239828e-18,-3.695931e-17,-1.847966e-17,-5.543897e-17,5.543897e-17,-3.141541e-16
std,1.000651e+00,1.000651e+00,1.000651e+00,1.000651e+00,1.000651e+00,1.000651e+00,1.000651e+00
min,-4.099307e-01,-6.334905e-01,-6.161199e-01,-1.795992e+00,-1.353308e+00,-1.387160e+00,-1.548063e+00
25%,-3.588485e-01,-5.856577e-01,-4.422816e-01,-7.872225e-01,-6.125365e-01,-6.209715e-01,-6.443588e-01
50%,-2.566842e-01,-4.345574e-01,-2.974164e-01,-4.494160e-02,-2.538939e-01,-2.523988e-01,-2.609127e-01
75%,-3.532798e-02,1.556344e-01,5.026013e-02,6.733209e-01,3.275515e-01,3.174022e-01,3.552069e-01
max,1.837980e+01,5.135630e+00,1.077029e+01,4.077062e+00,8.165638e+00,8.127271e+00,7.803554e+00

In [6]:
categorical_features = pd.get_dummies(categorical_features, columns=['language'], dtype=int)
categorical_features.head()

   language_Swift
0               1
0               1
0               1
0               1
0               1

In [7]:
processed_data = pd.concat([standardized_features, categorical_features, target], axis=1, sort=False)
processed_data.head()

,pull_requests,size,contributors,age,contributor_xp1,contributor_xp2,contributor_xp3,language_Swift,pr_points1,pr_points2,pr_points3
0,18.379803,0.155634,10.770286,2.168176,3.477893,3.502479,5.039391,1,9.103,6.588,10.947
0,4.272604,1.358589,6.308438,2.184188,0.429114,0.450171,0.510633,1,18.562,12.360,20.595
0,4.715316,0.189316,6.221519,0.660740,7.713685,7.726198,6.542463,1,9.241,7.153,9.187
0,0.790501,1.109601,1.383020,-0.081541,0.670325,0.831191,1.757763,1,5.286,4.150,6.182
0,-0.282225,0.313810,9.089850,0.451437,2.434973,2.415432,3.220815,1,1.811,2.087,1.763

In [8]:
processed_data.to_csv('/Users/yelderiny/Projects/Dissertation/Data/processed-data-swift.csv')