In [37]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge

In [38]:
df = pd.read_csv('/Users/yelderiny/Projects/Dissertation/Data/processed-data3-outliers-capped.csv')
df.head()

,pull_requests,size,contributors,age,contributor_xp1,contributor_xp2,contributor_xp3,language_C++,language_Go,language_Java,language_JavaScript,language_Python,language_Swift,language_TypeScript,pr_points1,pr_points2,pr_points3
0,-0.441351,-0.155899,-0.607450,-1.390139,-0.760476,-0.749159,-0.714005,0,0,1,0,0,0,0,2.271,2.389,2.377
1,-0.400284,-0.376812,-0.652329,-1.466477,-0.328626,-0.353298,-0.621405,0,0,1,0,0,0,0,3.390,3.318,2.749
2,-0.362050,-0.151038,-0.320222,-0.155424,0.086355,0.059615,-0.026675,0,0,1,0,0,0,0,4.006,3.668,3.544
3,-0.483834,-0.386834,-0.760040,-0.782989,-0.686626,-0.703280,-0.850148,0,0,1,0,0,0,0,3.281,2.569,3.257
4,-0.462592,-0.296117,-0.553595,-0.751034,-0.794964,-0.803970,-0.871093,0,0,1,0,0,0,0,4.867,4.833,5.186

In [39]:
features1 = df.drop(columns=['pr_points1', 'pr_points2', 'pr_points3', 'contributor_xp2', 'contributor_xp3'], axis=1)
features2 = df.drop(columns=['pr_points1', 'pr_points2', 'pr_points3', 'contributor_xp1', 'contributor_xp3'], axis=1)
features3 = df.drop(columns=['pr_points1', 'pr_points2', 'pr_points3', 'contributor_xp1', 'contributor_xp2'], axis=1)
target1 = df['pr_points1']
target2 = df['pr_points2']
target3 = df['pr_points3']

In [40]:
max_error_scoring = "max_error"
neg_mean_absolute_error_scoring = "neg_mean_absolute_error"
r2_scoring = "r2"
neg_mean_squared_error_scoring = "neg_mean_squared_error"

In [41]:
features1.name = 'Features 1'
features2.name = 'Features 2'
features3.name = 'Features 3'
target1.name = 'Target 1'
target2.name = 'Target 2'
target3.name = 'Target 3'

In [42]:
features = [features1, features2, features3]
targets = [target1, target2, target3]
model = RandomForestRegressor()
results = []

In [43]:
for feature in features:
    for target in targets:
        print(f'{feature.name}, {target.name}')
        kfold = KFold(n_splits=10, shuffle=True, random_state=386)
        cv_results3 = cross_val_score(model, features1, target1, cv=kfold, scoring=r2_scoring)
        results.append((feature.name, target.name, cv_results3.mean()))

Features 1, Target 1
Features 1, Target 2
Features 1, Target 3
Features 2, Target 1
Features 2, Target 2
Features 2, Target 3
Features 3, Target 1
Features 3, Target 2
Features 3, Target 3

In [44]:
for result in results:
    print(result)

('Features 1', 'Target 1', 0.5992428187538791)
('Features 1', 'Target 2', 0.599595942381393)
('Features 1', 'Target 3', 0.6022009892818097)
('Features 2', 'Target 1', 0.5984567006549039)
('Features 2', 'Target 2', 0.5948966270973618)
('Features 2', 'Target 3', 0.5965528909605082)
('Features 3', 'Target 1', 0.6013111971391878)
('Features 3', 'Target 2', 0.5977783416118304)
('Features 3', 'Target 3', 0.5999748810486605)